@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");

// text colors and fonts
$textFont: "Red Hat Display", sans-serif;
$textColor: #87879d;
$titleColor: #28283d;

// button colors
$btnColorOne: #4d96a9;
$btnColorTwo: #855fb1;
$btnVText: #8fe3f9;
$btnVTextTwo: #d9b8ff;
