@use "../variables" as v;

body {
  .container {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    font-family: v.$textFont;
    color: v.$textColor;
    .top-content {
      h1 {
        color: v.$titleColor;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
      }
    }
    .middle-content {
      h2 {
        color: v.$btnColorOne;
        font-weight: 900;
        font-size: 16px;
        letter-spacing: 4px;
      }
      h1 {
        color: v.$titleColor;
      }
    }
    .footer-content {
      h1 {
        color: #ffff;
      }
      p {
        color: #ffff;
      }
    }
    .footer-content,
    .middle-content {
      h1 {
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
      }
    }
    // Button Styles
    .top-content {
      .button {
        .shadow {
          color: v.$btnVText;
        }
      }
    }
    .footer-content {
      .button {
        .shadow {
          color: v.$btnVTextTwo;
        }
      }
    }
    .top-content,
    .footer-content {
      .button {
        padding: 20px 45px;
        color: #ffff;
        border-radius: 29px;
        border: none;
        font-size: 16px;
        font-family: v.$textFont;
        font-weight: 900;
      }
      .dl {
        background-color: v.$btnColorOne;
      }
      .clr {
        background-color: v.$btnColorTwo;
      }
    }
  }
}
