@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");
body .container {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  font-family: "Red Hat Display", sans-serif;
  color: #87879d;
}
body .container .top-content h1 {
  color: #28283d;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
}
body .container .middle-content h2 {
  color: #4d96a9;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 4px;
}
body .container .middle-content h1 {
  color: #28283d;
}
body .container .footer-content h1 {
  color: #ffff;
}
body .container .footer-content p {
  color: #ffff;
}
body .container .footer-content h1,
body .container .middle-content h1 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
}
body .container .top-content .button,
body .container .footer-content .button {
  padding: 20px 45px;
  color: #ffff;
  border-radius: 29px;
  border: none;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
}
body .container .top-content .button .shadow,
body .container .footer-content .button .shadow {
  color: #8FE3F9;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body .container .top-content .dl,
body .container .footer-content .dl {
  background-color: #4d96a9;
}
body .container .top-content .clr,
body .container .footer-content .clr {
  background-color: #855fb1;
}

body .container .header {
  width: 100%;
}
body .container .header .avatars {
  display: grid;
  column-gap: 16.16px;
  grid-template-columns: 1fr 1fr;
}
body .container .header .avatars img {
  min-width: 55.56px;
  min-height: 55.54px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
body .container .header .avatars .grid-left {
  display: grid;
  overflow-x: hidden;
  justify-content: end;
  column-gap: 16.16px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
body .container .header .avatars .grid-left .left-items {
  grid-column: 1;
  padding-top: 50%;
}
body .container .header .avatars .grid-left .middle-items {
  grid-column: 2;
  padding-bottom: 50%;
}
body .container .header .avatars .grid-left .right-items {
  grid-column: 3;
  padding-top: 50%;
}
body .container .header .avatars .grid-right {
  display: grid;
  overflow-x: hidden;
  column-gap: 16.16px;
  grid-template-columns: repeat(3, 1fr);
}
body .container .header .avatars .grid-right .left-items {
  grid-column: 1;
  padding-bottom: 50%;
}
body .container .header .avatars .grid-right .middle-items {
  grid-column: 2;
  padding-top: 50%;
}
body .container .header .avatars .grid-right .right-items {
  grid-column: 3;
  padding-bottom: 50%;
}
body .container .header .avatars .grid-left .left-items,
body .container .header .avatars .grid-left .middle-items,
body .container .header .avatars .grid-left .right-items,
body .container .header .avatars .grid-right .left-items,
body .container .header .avatars .grid-right .middle-items,
body .container .header .avatars .grid-right .right-items {
  display: grid;
  row-gap: 14px;
}

body .container .header .logo-img {
  padding-top: 48px;
}
body .container .header .avatars {
  padding-top: 54px;
}
body .container .top-content {
  width: 100%;
  padding-top: 48px;
}
body .container .top-content h1 {
  padding: 0 24px;
}
body .container .top-content p {
  padding: 24px 24px 0 24px;
}
body .container .top-content .btn-padding-one {
  padding-top: 32px;
}
body .container .top-content .btn-padding {
  padding-top: 16px;
  padding-bottom: 64px;
}
body .container .middle-content {
  padding: 64px 24px 0 24px;
}
body .container .middle-content .content-images {
  display: grid;
  column-gap: 24px;
  row-gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
body .container .middle-content .content-images .content-img1 img,
body .container .middle-content .content-images .content-img2 img,
body .container .middle-content .content-images .content-img3 img,
body .container .middle-content .content-images .content-img4 img {
  width: 100%;
  border-radius: 8px;
}
body .container .middle-content h2 {
  padding-top: 64px;
}
body .container .middle-content h1 {
  padding: 16px 161px 0 161px;
}
body .container .middle-content p {
  padding: 32px 98px 80px 98px;
}
body .container .footer-content::before {
  content: "";
  background-image: url("../../images/mobile/image-footer.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
body .container .footer-content {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  background-color: rgba(77, 150, 169, 0.86);
}
body .container .footer-content h1 {
  padding-top: 92px;
}
body .container .footer-content p {
  padding: 24px 24px 0 24px;
}
body .container .footer-content .footer-btn {
  padding-top: 32px;
  padding-bottom: 72px;
}

@media screen and (min-width: 744px) {
  body .container .header .logo-img {
    padding-top: 48px;
  }
  body .container .header .avatars {
    padding-top: 64px;
  }
  body .container .top-content {
    width: 100%;
    padding-top: 72px;
  }
  body .container .top-content h1 {
    padding: 0 214px;
  }
  body .container .top-content p {
    padding: 24px 20% 0 20%;
  }
  body .container .top-content .btns {
    display: inline-flex;
    padding: 32px 0 80px 0;
  }
  body .container .top-content .btns .btn-padding-one {
    padding: 0;
    padding-right: 16px;
  }
  body .container .top-content .btns .btn-padding {
    padding: 0;
  }
  body .container .middle-content {
    padding: 67px 39px 0 39px;
  }
  body .container .middle-content .content-images {
    column-gap: 11px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  body .container .middle-content .content-images .content-img1 img,
body .container .middle-content .content-images .content-img2 img,
body .container .middle-content .content-images .content-img3 img,
body .container .middle-content .content-images .content-img4 img {
    width: 100%;
    border-radius: 8px;
  }
  body .container .middle-content h2 {
    padding-top: 48px;
  }
  body .container .middle-content h1 {
    padding-top: 24px;
  }
  body .container .middle-content p {
    padding-top: 32px;
    padding-bottom: 64px;
  }
  body .container .footer-content::before {
    background-image: url("../../images/tablet/image-footer.jpg");
    background-size: cover;
  }
  body .container .footer-content h1 {
    padding: 92px 200px 0 200px;
    line-height: 44px;
  }
  body .container .footer-content p {
    padding: 32px 100px 0 100px;
  }
  body .container .footer-content .footer-btn {
    padding-top: 40px;
    padding-bottom: 66px;
  }
}
* {
  margin: 0;
  padding: 0;
}

body .container {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.circle {
  background-color: #FAFAFA;
  margin: 0 auto;
  width: 54px;
  height: 54px;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 50%;
  align-items: center;
  line-height: 54px;
  z-index: 2;
}

.circle-line {
  width: 1px;
  background-color: rgba(135, 135, 157, 0.25);
  height: 84px;
}

.footer-circle {
  margin-bottom: -28px;
}

@media screen and (min-width: 745px) {
  body .container .header .avatars img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
  }
}

/*# sourceMappingURL=css.css.map */
